--no-binary :all:

streamlit==1.38.0
pandas==2.1.4
numpy==1.26.3
rapidfuzz==3.6.0
openpyxl==3.1.2
xlrd==2.0.1
python-dateutil==2.8.2
pytz==2023.3.post1
XlsxWriter==3.1.9
Jinja2==3.1.2
setuptools==69.5.1
